button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
    margin-right: 5px;
}
  
button:hover {
  background-color: #cfd8dc;
}

button.delete {
  position: relative;
  /* left: 194px;
  top: -32px; */
  background-color: gray !important;
  color: white;
}