<div class="d-flex flex-column align-items-center">

   <!-- <video class="vid" autoplay muted playsinline #video autoplay></video>
   <button class="btn btn-primary btn-circle" (click)="capture()">
      Chụp ảnh
   </button> -->
   <!-- Tham khao: https://developers.google.com/web/fundamentals/media/capturing-images/ -->
   <!-- Su dung cho WebView on iPhone or Android <input type="file" accept="image/*" capture="environment"> -->


   <video [ngClass]="isMobileBrowser==true?'display:none':'vid'" muted playsinline #video autoplay></video>
   <button class="btn btn-primary btn-circle" *ngIf="!isMobileBrowser" (click)="capture()">
      Chụp ảnh
   </button>

   <canvas *ngIf="!isMobileBrowser" #canvas class="vid2"></canvas>

   <div *ngIf="isMobileBrowser">

      <input class="btn btn-primary btn-circle" type="button" id="loadFileXml" value="Chụp ảnh"
         onclick="document.getElementById('file-input').click();" />
      <input type="file" style="display:none;" id="file-input" name="file-input" accept="image/*" capture="environment"
         (change)="handleFileInput($event.target.files)" />
      <div>Xem trước ảnh</div>
      
   </div>

   <img style="width:320px;height:180px;border:0;" [src]="imgURL" />


</div>