.vid {
    width: 500px;
    height: 280px;
    padding-bottom: 10px;
}

.vid2 {
    width: 120px;
    height: 80px;
    align-content: center;
    align-items: center;
}

.btn-circle {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

button {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
    margin-right: 5px;
  }
  
  button:hover {
    background-color: #cfd8dc;
  }
  
  button.delete {
    position: relative;
    /* left: 194px;
    top: -32px; */
    background-color: gray !important;
    color: white;
  }

span {
    padding: 1px;
}

img, a {border:none; outline:none;}
